# ==========================================
# APP CONFIG
# ==========================================
NODE_ENV=development
PORT=3000
LOG_LEVEL=info
BFF_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
SESSION_SECRET=coloque_uma_hash_segura_aqui_para_producao

# ==========================================
# EXTERNAL APIs
# ==========================================
FINNHUB_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
NEWS_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxx

# ==========================================
# REDIS
# ==========================================
# Atualizado para o novo nome do container
REDIS_HOST=redis-financeiro
REDIS_PORT=6379
REDIS_URL=redis://redis-financeiro:6379

# ==========================================
# KAFKA & RABBITMQ (Mensageria)
# ==========================================
RABBITMQ_URL=amqp://admin:admin123@rabbitmq:5672

# ==========================================
# KEYCLOAK (Autenticação)
# ==========================================
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/sefa
KEYCLOAK_REALM=sefa
KEYCLOAK_CLIENT_ID=xxxxxxxxxxxxxxxxxx
KEYCLOAK_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxx