# ==========================================
# APP CONFIG
# ==========================================
NODE_ENV=development
PORT=3001
LOG_LEVEL=info
BFF_URL=http://localhost:3002
APP_URL=http://localhost:3002
FRONTEND_URL=http://localhost:5174
SESSION_SECRET=coloque_uma_hash_segura_aqui_para_producao

# ==========================================
# REDIS 
# ==========================================
REDIS_HOST=redis-admin
REDIS_PORT=6379
REDIS_URL=redis://redis-admin:6379

# ==========================================
# KAFKA & RABBITMQ (Mensageria)
# ==========================================
KAFKA_BROKER=kafka-broker:29092

# ==========================================
# KEYCLOAK (Autenticação)
# ==========================================
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/sefa
KEYCLOAK_REALM=sefa
KEYCLOAK_CLIENT_ID=xxxxxxxxxxxxxx
KEYCLOAK_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx