.env
.env.*
!.env.example
!.env-exemplo
*.pem
*.key
*.cert

node_modules/
jspm_packages/

build/
dist/
out/
.next/
.nuxt/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


coverage/
.nyc_output/


*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


target/
build/
out/
.gradle/


!gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd


pgdata/
redis_financeiro_data/
prom_data/
grafana_data/
rabbitmq_data/
zookeeper_data/
zookeeper_log/
kafka_data/


.DS_Store
.AppleDouble
.LSOverride
Icon

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msix
*.msm
*.msp
$RECYCLE.BIN/


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/


.idea/
*.iml
*.iws

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache